/* About section */

.about__section {
    display: flex;
    padding-right: 100px;
  }
  .about__items {
    display: flex;
  }
  .about__photo {
    margin-right: 30px;
  }
  .about__pre-title {
    @include font(11px, 600, 1.35);
    
    text-transform: uppercase;
    color: var(--second-color-title);
    margin-bottom: 20px;
  }
  .about__title {
    @include font(42px, 700, 1.15);

    font-family: 'Raleway';
    font-style: normal;
    letter-spacing: 0.05em;
    color: var(--second-color-title);
    margin-bottom: 20px;
  }
  .about__description {
    @include font(18px, 400, 1.65);
  
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }
  .about__second-description {
    @include font(14px, 400, 1.85);
    
    letter-spacing: 0.02em;
    margin-bottom: 44px;
  }
  