.btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.35;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--link-color);
    background: transparent;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background: var(--accent-color);
    color: var(--link-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
  
/* about */
  .about__btn {
    display: block;
    color: var(--second-color-title);
  }
/* price */  
  .price__btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--link-color);
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
/* modal */
  .close__button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ecebeb;
    color: var(--color-text);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: var(--accent-color);
      color: var(--bacground-color);
    }
  }
  
  .modal__btn {
    margin-top: 30px;
    background: #555555;
    border: none;
  }
// price
  .price__btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--link-color);
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }