/* Contacts section */

.contact__section {
    /* width: 50%; */
    padding: 120px 0 120px 100px;
    /* margin-left: 15px; */
    width: 570px;
  }
  .contact__title {
    @include font(42px, 700, 1.15);

    font-family: 'Raleway';
    font-style: normal;
    letter-spacing: 0.05em;
    color: var(--color-title);
    margin-bottom: 40px;
  }
  
  .contact__contacts > li:not(:last-child) {
    margin-bottom: 20px;
  }
  .contact__adress {
    @include font(18px, 700, 1.65);

    display: inline-flex;
    align-items: center;
    gap: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
    fill: var(--second-color-text);
    width: 230px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__phone {
    @include font(18px, 400, 1.65);

    display: inline-flex;
    gap: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
    fill: var(--second-color-text);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__email {
    @include font(18px, 600, 1.65);
    display: inline-flex;
    gap: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
    fill: var(--second-color-text);
    text-decoration: underline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__pre-title {
    @include font(11px, 600, 1.35);
   
    text-transform: uppercase;
    color: var(--color-title);
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .contact__work-time {
    @include font(18px, 600, 1.65);

    letter-spacing: 0.02em;
    color: var(--second-color-text);
  }