:root {
    --background-color: #ffffff;
    --color-title: #ffffff;
    --color-pre-titel: rgba(157, 164, 189, 0.6);
    --second-color-title: rgba(48, 48, 48, 1);
    --color-text: #555555;
    --second-color-text: #9da4bd;
    --accent-color: rgba(255, 108, 0, 1);
    --link-color: #ffffff;
  }